body {
    font-family: "Arial", Helvetica, sans-serif;

    background-position: top center;

    background-attachment: scroll;

    background-repeat: repeat;
}

a,
a:hover,
a:focus,
.cor-principal,
.menu a:hover,
.atributo-comum a:hover span,
.atributo-comum .active a span {
    color: #191919;
} /* Cor Principal - Textos e Links */
.fundo-principal,
.botao.principal,
.botao.principal:hover,
.menu li:hover > a .fundo-secundario,
.flex-control-paging li a.flex-active,
.dropdown-menu > li > a:hover,
.filtro.lista ul li label:hover,
.filtro.lista ul li.active label,
.menu-simples li a:hover,
.menu-simples li.active a {
    background-color: #191919;
} /* Cor Principal - Background */
.borda-principal,
.atributos ul li a:hover,
.atributos ul li.active a,
.tema-scuro .nav-tabs li.active a,
.elastislide-carousel ul li.active a {
    border-color: #191919;
} /* Cor Principal - Bordas */

.cor-secundaria {
    color: #f24464;
}
.fundo-secundario {
    background-color: #f24464;
}
.borda-secundaria {
    border-color: #f24464;
}

.titulo {
    font-family: "Open Sans", serif;
}

#cabecalho {
    background-position: top center;

    background-repeat: repeat;
}

.barra-inicial {
    background-color: #444444;
}

#rodape .institucional {
    background-position: top center;

    background-repeat: repeat;
}

.botao.principal.botao-comprar,
.botao.principal.grande,
.acoes-produto-responsiva .tag-comprar {
    background-color: #f24464;
}

#barraNewsletter,
#barraNewsletter .show-hide,
#barraNewsletter .componente,
#barraNewsletter.posicao-rodape .conteiner {
    background-color: #000000;
}

#barraNewsletter,
#barraNewsletter .show-hide {
    color: #ffffff;
}
